.new-password-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #f9f9f9;
  align-items: center;
  padding: 80px;
}
.new-password-container > .register-prompt > p {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.3px;
  color: #555f6a;
}
.new-password-container > .register-prompt > p > span {
  color: var(--primary-theme-color);
  text-decoration: underline;
  cursor: pointer;
}

.new-password-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 45%;
  margin: 25px 0px;
  padding: 20px 35px 15px;
  border-radius: 3px;
}
.new-password-form > h2 {
  font-size: 26px;
  text-align: center;
  letter-spacing: 0.6px;
  margin: 10px 0px;
}

.new-password-form > .form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0px;
}
.form-field > span {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.2px;
  color: #555f6a;
  margin-bottom: 5px;
}
.form-field > input {
  padding: 10px;
  /* border-style: none; */
  border-radius: 6px;
  background-color: #F5F5F5;
}
.new-password-form > .disclosure {
  width: 100%;
  margin-top: 15px;
}
.new-password-form > .disclosure > p {
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}
.new-password-form > .disclosure > p > span {
  color: var(--primary-theme-color);
  text-decoration: underline;
}

.password-confirm-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  padding: 40px;
  min-height: 80vh;
}

.password-confirm-container h2 {
  font-size: 4rem;
}

.password-confirm-container img {
  width: 200px;
}

.password-confirm-container p {
  font-size: 2rem;
}

/* @media screen and (max-width: 1000px) {
  .password-confirm-container h2 {
    font-size: 3.6rem;
  }

  .password-confirm-container img {
    width: 160px;
  }

  .password-confirm-container p {
    font-size: 1.8rem;
  }
} */

@media screen and (max-width: 800px) {
  .new-password-form {
    width: 80%;
  }
}

@media screen and (max-width: 560px) {
  .password-confirm-container h2 {
    font-size: 3.2rem;
  }

  .password-confirm-container img {
    width: 120px;
  }

  .password-confirm-container p {
    font-size: 1.4rem;
  }

  .new-password-form {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .new-password-container {
    padding: 40px 40px;
  }
}

@media (max-width: 400px) {
  .new-password-container {
    padding: 40px 20px;
  }
  .new-password-form {
    padding: 10px 30px;
  }

  .password-confirm-container h2 {
    font-size: 2.8rem;
  }

  .password-confirm-container p {
    font-size: 1.2rem;
  }
}
