.forgot-password-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #f9f9f9;
  align-items: center;
  padding: 80px;
}
.forgot-password-container > .register-prompt > p {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.3px;
  color: #555f6a;
}
.forgot-password-container > .register-prompt > p > span {
  color: var(--primary-theme-color);
  text-decoration: underline;
  cursor: pointer;
}
.forgot-password-form, .forgot-password-success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 45%;
  margin: 25px 0px;
  padding: 20px 35px 60px;
  border-radius: 3px;
}
.forgot-password-form > h2 {
  font-size: 25px;
  text-align: center;
  letter-spacing: 0.6px;
  margin: 10px 0px;
}
.forgot-password-form > p {
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.1px;
  width: 60%;
}
.forgot-password-form > .form-field {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 20px 0px 10px;
}

.forgot-password-form > .form-field > input {
  flex-grow: 1;
  margin-right: 0px;
  padding: 10px;
  margin: 2px 0;
  /* border-style: none; */
  border-radius: 6px;
  background-color: #F5F5F5;
  height: 100%;
}
.forgot-password-form > .form-field > input:focus {
  border: 3px solid white;
}
.forgot-password-form > .form-field > button {
  margin: 0;
  padding: 12px;
  position: relative;
  min-width: 120px;
  height: 100%;
}
.successMsg {
  color: var(--primary-theme-color);
  font-size: 2.5rem;
  margin: 10rem 0;
  text-align: center;
}
.success_msg {
  text-align: center;
  color: #000;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 3rem 0;
}

@media (max-width: 1024px) {
  .forgot-password-form, .forgot-password-success {
    width: 100%;
    padding: 30px 35px 80px;
  }
}

@media (max-width: 800px) {
  .forgot-password-container {
   padding: 10% 5%;
  }

  .forgot-password-form > p {
    width: 100%;
  }

  .forgot-password-form, .forgot-password-success {
    width: 100%;
    padding: 30px 35px 80px;
  }

  .forgot-password-form > .form-field > input {
    width: 70%;
    margin: 10px 0;
  }

  .forgot-password-form > .form-field > button {
    width: 30%;
    margin: 10px 0;
  }
}